<div class="signup-box">

    <div class="logo">
        <img src="assets/logo.png" alt="">
    </div>

    <form fxLayout="column" #signupForm="ngForm">
        <p>Sign up</p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input [(ngModel)]="user.name" name="name" matInput type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input [(ngModel)]="user.email" name="email" matInput type="email" placeholder="pat@example.com">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input [(ngModel)]="user.password" name="password" matInput type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirme Password</mat-label>
            <input [(ngModel)]="user.confirmPassword" name="confirmPassword" matInput type="password">
        </mat-form-field>
    </form>

    <div class="btn-signup">
        <button routerLink="/pages/login" mat-flat-button>Return</button>
        <button (click)="register()" mat-flat-button color="primary">Register</button>
    </div>
</div>