<div class="signup-box">

    <div class="logo">
        <img src="assets/logo.png" alt="">
    </div>

    <form fxLayout="column" #signupForm="ngForm">
        <p>Sign up</p>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Ex. pat@example.com">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirme Password</mat-label>
            <input matInput type="password">
        </mat-form-field>
    </form>

    <div class="btn-signup">
        <button mat-flat-button color="primary">Register</button>
    </div>
</div>