<div class="login-box">

    <div class="logo">
        <img src="assets/logo.png" alt="">
    </div>

    <form fxLayout="column" #loginForm="ngForm" class="example-form">
        <p>Login</p>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input [(ngModel)]="login.email" name="email" matInput type="email" placeholder="pat@example.com">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input [(ngModel)]="login.password" name="password" matInput type="password">
        </mat-form-field>
    </form>

    <div class="btn-login">
        <button (click)="doLogin()" mat-flat-button color="primary">Login</button>
    </div>

    <mat-divider></mat-divider>
    
    <div class="register">
        <p>Don't have an account? <a routerLink="/pages/signup">Create an account</a>.</p>
    </div>
</div>