<div class="menu">
  <button (click)="logout()" mat-flat-button color="warn">Logout</button>
  <button routerLink="/pages/new-book" mat-flat-button color="primary">New Book</button>
</div>

<div class="box">
  <mat-list>
    <div mat-subheader>Books</div>
    <mat-list-item *ngFor="let book of books">
      <mat-icon mat-list-icon>book</mat-icon>
      <div mat-line>Title: {{book.title}}</div>
      <div mat-line>Description: {{book.description}}</div>
      <div mat-line>Author: {{book.author}}</div>
      <div mat-line>Year: {{book.year}}</div>
      <mat-action-list>
        <button (click)="delete(book)" mat-icon-button color="warn" aria-label="Remove">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-action-list>
    </mat-list-item>
  </mat-list>
</div>